.todo-input, .todo-button {
    padding: 8px;
    border-radius: 3px;
    border: 5px solid #CCC;
    background-image: none;
}
.todo-input {
    width: 65%;    
}
.todo-button {
    width: 100px;
    margin:10px;    
}

.input-form{
    width: 60%;
    margin: 0 auto;
}