.container {
    width: 95%;
    min-height: 600px;
    margin: 0px auto;
}
 body{
    font-family: "Lato", sans-serif;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%);
 }

.title{
    text-align: center;
    margin: 0 auto;
    color: #000;
}
 